on:
  push:
  pull_request:
  schedule:
  - cron: '0 0 * * *' # test daily against git HEAD of dependencies

name: CI
jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - 'pypy-3.9'
        - 'pypy-3.10'
        # this version range needs to be synchronized with the one in pyproject.toml
        amaranth-version:
        - '0.5'
        - 'git'
        allow-failure:
        - true
        - false
        exclude: # all of these are inverted (this is unfortunately the best way to do this)
        - amaranth-version: '0.5'
          allow-failure: false
        - amaranth-version: 'git'
          allow-failure: true
    continue-on-error: '${{ matrix.allow-failure }}'
    name: "test (${{ matrix.python-version }}, ${{ matrix.amaranth-version }}${{ matrix.allow-failure == 'false' && ', required' || '' }})"
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pdm install --dev
      - name: Install Amaranth release
        if: ${{ matrix.amaranth-version != 'git' }}
        run: |
          pip install 'amaranth[builtin-yosys] ==${{ matrix.amaranth-version }}'
      - name: Install Amaranth from git
        if: ${{ matrix.amaranth-version == 'git' }}
        run: |
          pip install 'amaranth[builtin-yosys] @ git+https://github.com/amaranth-lang/amaranth.git'
      - name: Run tests
        run: |
          pdm run test

  required: # group all required workflows into one to avoid reconfiguring this in Actions settings
    needs:
      - test
    if: ${{ always() && !contains(needs.*.result, 'cancelled') }}
    runs-on: ubuntu-latest
    steps:
      - run: ${{ contains(needs.*.result, 'failure') && 'false' || 'true' }}

  publish-package:
    needs: required
    if: ${{ github.repository == 'amaranth-lang/amaranth-boards' && github.event_name == 'push' && github.event.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      id-token: write
      contents: write
    steps:
    - name: Check out source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Tag release
      run: |
        COMMIT_MSG=$(git show -s --format=%s)
        LAST_TAG=$(git tag -l "v0.*.*" --sort=-v:refname | head -n 1)
        LAST_MINOR_TAG=$(git tag -l "v0.*.0" --sort=-v:refname | head -n 1)
        IFS='.' read -r MAJOR MINOR PATCH <<< "${LAST_TAG#v}"

        if [[ -z "$LAST_TAG" ]]; then
          echo "Unable to determine most recent version tag!"
          exit 1
        fi

        if [[ -z "$LAST_MINOR_TAG" ]]; then
          echo "Unable to determine most recent minor version tag!"
          exit 1
        fi

        if [[ "$COMMIT_MSG" == *"breaking change"* || "$COMMIT_MSG" == *"breaking-change"* ]]; then
            NEW_TAG="v$MAJOR.$((MINOR + 1)).0"
        else
            NEW_PATCH=$(git rev-list --count "$LAST_MINOR_TAG"..HEAD)
            NEW_TAG="v$MAJOR.$MINOR.$NEW_PATCH"
        fi

        git tag "$NEW_TAG"
    - name: Build package
      run: |
        pip install build
        python -m build
    - name: Upload package artifact
      uses: actions/upload-artifact@v4
      with:
        name: package
        path: dist/
    - name: Verify package metadata
      run: |
        pip install twine
        twine check dist/*
    - name: Publish package to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        verbose: true
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        verbose: true
    - name: Push release tag
      run: |
        git push origin --tags

  publish-release:
    needs: publish-package
    if: ${{ github.repository == 'amaranth-lang/amaranth-boards' && github.event_name == 'push' && github.event.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Determine release metadata
      id: metadata
      env:
        REF_NAME: ${{ github.ref_name }}
      run: |
        echo name=${REF_NAME/v/} >>$GITHUB_OUTPUT
    - name: Create release
      uses: comnoco/create-release-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref_name }}
        release_name: ${{ steps.metadata.outputs.name }}
